
<div align="center"class="demo1">
  <h1> Library Management System </h1>
</div><br>

<nav>
  <div class="demo8">
  <h2>Library Service</h2>>
  <a routerLink="/add-component"> InsertBook </a>> &nbsp;&nbsp;&nbsp;
  <a routerLink="/view-component"> ViewBook </a>> &nbsp;&nbsp;&nbsp;
  <a routerLink="/delete-component"> DeleteBook </a>> &nbsp;&nbsp;&nbsp;
  <a routerLink="/upadate-component"> UpdateBook </a>> &nbsp;&nbsp;&nbsp;
  </div>
</nav>
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="demo7">
      <h2><a class="navbar-brand">Dashboard</a></h2>
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="Home">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="About">About</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="Setting">Settings</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="Help">Help</a></li>
      </ul>
  </div>
</nav>

<div align="center" class="demo3">
   <h2>Insert Book Details</h2>
<app-insert>
</app-insert>
</div><br><br><br><br>

<div align="center" class="demo4">
  <h2>View Book Details</h2>
<app-library>
</app-library>
</div><br><br><br><br>

<div align="center" class="demo5">
  <h2>Delete Book Details</h2>
<app-delete>
</app-delete>
</div><br><br><br><br>

<div align="center" class="demo6">
  <h2>Update Book Details</h2>
<app-update>
</app-update>
</div>